# MVTS Data Toolkit

## Demo

This demo is designed to give the user a quick tour over the software's funcionalities. Below is a list of all the things one could see in this demo:
 - Downloading a dataset of 2000 multivariate time series (mvts) instances.
 - Getting some basic statistics about your data.
 - Extracting a list of statistical features from the mvts instances.
 - ...

In [1]:
import os
import yaml
from data_retriever import DataRetriever  # for downloading data
import CONSTANTS as CONST

## Download the Dataset
There is a dictionary of datasets available in `./datasets_configs.yml`. Let's download the one with id `1`.

In [2]:
dr = DataRetriever(1)
print('URL:\t\t{}'.format(dr.dataset_url))
print('NAME:\t\t{}'.format(dr.dataset_name))
print('TYPE:\t\t{}'.format(dr.get_compression_type()))
print('SIZE:\t\t{}'.format(dr.get_total_size()))

URL:		https://bitbucket.org/gsudmlab/mvtsdata_toolkit/downloads/petdataset_01.zip
NAME:		petdataset_01.zip
TYPE:		application/zip
SIZE:		32M

Ready to download? (This may take a few seconds, depending on your internet bandwidth.)

In [3]:
where_to = 'data/petdataset_01/'
dr.retrieve(target_path = where_to)

Extracting: 100%|██████████| 2001/2001 [00:00<00:00, 2862.20it/s]

OK. Let's see how many files are available to us now:

In [4]:
dr.get_total_number_of_files()

2000

## MVTS Data Analysis

- #### How many files? How large of a dataset?

Using `data_analysis.mvts_data_analysis.py` we can get an idea of the dataset we are going to work on. We start with creating an instance of a `MVTSDataAnalysis`.

In [5]:
from data_analysis.mvts_data_analysis import MVTSDataAnalysis
path_to_config = './configs/feature_extraction_configs.yml'
mvda = MVTSDataAnalysis(path_to_config)
mvda.print_stat_of_directory()

----------------------------------------
Directory:					/home/azim/CODES/PyCode/mvtsdata_toolkit/data/petdataset_01/
Total number of mvts files:	2000
Total size:					468M
Total average:				240K
----------------------------------------

- #### Summary Stats of the data.

Let's now get some stats from the content of the files. Without loss of generality, we analyze only 3 parameters (namely `'TOTUSJH'`, `'TOTBSQ'`, and `'TOTPOT'`), and only on the first 50 mvts files.

In [6]:
params = ['TOTUSJH', 'TOTBSQ', 'TOTPOT']
n = 50
mvda.compute_summary(parameters_list=params, first_k=n)

-->	[50/50] 		 File: lab[NF]_id[3364]_st[2013-11-09T09:24:00]_et[2013-11-09T21:12:00].csv00].csv

In [7]:
mvda.print_summary()

  Parameter-Name Count Null-Count           min          25th          50th          75th           max
0        TOTUSJH  3000          0  4.341081e+00  5.959299e+01  3.498416e+02  1.124406e+03  3.746423e+03
1         TOTBSQ  3000          0  2.376532e+07  4.004768e+08  4.547558e+09  1.447428e+10  6.957558e+10
2         TOTPOT  3000          0  1.750878e+20  2.814514e+21  3.870160e+22  2.625937e+23  1.425084e+24

... which says the length of the time series, across the 50 mvts is 3000, with no `NA/NAN` or missing values. In addition, `min`, `max`, and three quantiles are calculated for each time series.

## Feature Extraction

- #### What statistical features are available?

Now that we have an idea about our raw data, let's extract some features from the data. A list of ~50 features are implemented in `features.feature_collection.py`. Let's take a look.

In [8]:
import features.feature_collection as fc
help(fc)

Help on module features.feature_collection in features:

NAME
    features.feature_collection

FUNCTIONS
    get_average_absolute_change(uni_ts:pandas.core.series.Series) -> float
        :return: the average absolute first difference of a univariate time series.

    get_average_absolute_derivative_change(uni_ts:pandas.core.series.Series) -> float
        :return: the average absolute first difference of a derivative of univariate time series.

    get_avg_mono_decrease_slope(uni_ts:pandas.core.series.Series) -> float
        :return: the average slope of monotonically decreasing segments.

    get_avg_mono_increase_slope(uni_ts:pandas.core.series.Series) -> float
        :return: the average slope of monotonically increasing segments.

    get_dderivative_kurtosis(uni_ts:pandas.core.series.Series, step_size:int=1) -> float
        :return: the kurtosis of the difference derivative of univariate time series within the
                 function we use step_size to find derivative (default value of step_size is 1).

    get_dderivative_mean(uni_ts:pandas.core.series.Series, step_size:int=1) -> float
        :return: the mean of the difference derivative of univariate time series within the function
                 we use step_size to find derivative (default value of step_size is 1).

    get_dderivative_skewness(uni_ts:pandas.core.series.Series, step_size:int=1) -> float
        :return: the skewness of the difference derivative of univariate time series within the
                 function we use step_size to find derivative (default value of step_size is 1).

    get_dderivative_stddev(uni_ts:pandas.core.series.Series, step_size:int=1) -> float
        :return: the std.dev of the difference derivative of univariate time series within the
                 function we use step_size to find derivative (default value of step_size is 1).

    get_difference_of_maxs(uni_ts:pandas.core.series.Series) -> float
        :return: the absolute difference between the maximums of the first and the second halves of a
                 given univariate time series.

    get_difference_of_means(uni_ts:pandas.core.series.Series) -> float
        :return: the absolute difference between the means of the first and the second halves of a
                 given univariate time series.

    get_difference_of_medians(uni_ts:pandas.core.series.Series) -> float
        :return: the absolute difference between the medians of the first and the second halves of a
                 given univariate time series.

    get_difference_of_mins(uni_ts:pandas.core.series.Series) -> float
        :return: the absolute difference between the minimums of the first and the second halves of a
                 given univariate time series.

    get_difference_of_stds(uni_ts:pandas.core.series.Series) -> float
        :return: the absolute difference between the standard dev. of the first and the second halves
                 of a given univariate time series.

    get_difference_of_vars(uni_ts:pandas.core.series.Series) -> float
        :return: the absolute difference between the variances of the first and the second halves of
                 a given univariate time series.

    get_gderivative_kurtosis(uni_ts:pandas.core.series.Series) -> float
        :return: the kurtosis of the gradient derivative of univariate time series.

    get_gderivative_mean(uni_ts:pandas.core.series.Series) -> float
        :return: the mean of the gradient derivative of univariate time series.

    get_gderivative_skewness(uni_ts:pandas.core.series.Series) -> float
        :return: the skewness of the gradient derivative of univariate time series.

    get_gderivative_stddev(uni_ts:pandas.core.series.Series) -> float
        :return: the std.dev of the gradient derivative of univariate time series.

    get_kurtosis(uni_ts:pandas.core.series.Series)
        Returns the kurtosis of a given univariate time series

    get_last_K(uni_ts:pandas.core.series.Series, k:int) -> pandas.core.series.Series
        :return: the last k values in a univariate time series.

    get_last_value(uni_ts)
        :return: the last value in a univariate time series. This seems redundant since `get_last_K`
                 already does this job, but it is necessary because the return type is different (
                 `numpy.int64`) than what `get_last_K` returns (`numpy.ndarray`). This is especially
                 important if the methods in this module are going to be called from a list.

    get_linear_weighted_average(uni_ts:pandas.core.series.Series) -> float
         Computes the linear weighted average of a univariate time series. It simply, for each `x_i` in
        `uni_ts` computes the following::

            2/(n*(n+1)) * sum(i* x_i)

        where `n` is the length of the time series.

        :return: the linear weighted average of `uni_ts`.

    get_longest_monotonic_decrease(uni_ts:pandas.core.series.Series) -> int
        :return: the length of the time series segment with longest monotonic increase.

    get_longest_monotonic_increase(uni_ts:pandas.core.series.Series) -> int
        :return: the length of the time series segment with longest monotonic increase.

    get_longest_negative_run(uni_ts:pandas.core.series.Series) -> int
        :return: the longest negative run in a univariate time series.

    get_longest_positive_run(uni_ts:pandas.core.series.Series) -> int
        :return: the longest positive run in a univariate time series.

    get_max(uni_ts:pandas.core.series.Series)
        Returns the maximum value of a given univariate time series

    get_mean(uni_ts:pandas.core.series.Series)
        Returns the arithmetic mean value of a given univariate time series

    get_mean_last_K(uni_ts:pandas.core.series.Series, k:int=10) -> float
        :return: the mean of last k-values in a univariate time series.

    get_mean_local_maxima_value(uni_ts:pandas.core.series.Series, only_positive:bool=False) -> float
        Returns the mean of local maxima values.

        :param uni_ts: Univariate time series.
        :param only_positive: Only positive flag for local maxima. When True only positive local
               maxima are considered. Default is False.
        :return: mean of local maxima values.

    get_mean_local_minima_value(uni_ts:pandas.core.series.Series, only_negative:bool=False) -> float
        Returns the mean of local minima values.

        :param uni_ts: Univariate time series.
        :param only_negative: Only negative flag for local minima. When True only negative local
               minima are considered. Default is False.
        :return: mean of local minima values.

    get_median(uni_ts:pandas.core.series.Series)
        Returns the median value of a given univariate time series

    get_min(uni_ts:pandas.core.series.Series)
        Returns the minimum value of a given univariate time series

    get_negative_fraction(uni_ts:pandas.core.series.Series) -> float
        :return: the fraction of negative numbers in uni_ts.

    get_no_local_extrema(uni_ts:pandas.core.series.Series)
        Returns the number of local extrema in a given univariate time series

    get_no_local_maxima(uni_ts:pandas.core.series.Series)
        Returns the numer of local maxima in a given univariate time series

    get_no_local_minima(uni_ts:pandas.core.series.Series)
        Returns the number of local minima in a given univariate time series

    get_no_mean_local_maxima_upsurges(uni_ts:pandas.core.series.Series, only_positive:bool=False) -> int
        Returns the number of values in a given time series whose value is greater than the mean of
        local maxima values (# of upserges).

        :param uni_ts: Univariate time series.
        :param only_positive: Only positive flag for mean local maxima. When True only positive local
               maxima are considered. Default is False
        :return: number of points whose value is greater than mean local maxima.

    get_no_mean_local_minima_downslides(uni_ts:pandas.core.series.Series, only_negative:bool=False) -> int
        Returns the number of values in a given time series whose value is less than the mean of
        local minima values (# of downslides).

        :param uni_ts: Univariate time series.
        :param only_negative: Only negative flag for mean local minima. When True only negative local
               minima are considered. Default is False.
        :return: number of points whose value is less than mean local minima.

    get_no_zero_crossings(uni_ts:pandas.core.series.Series)
        Returns the number of zero-crossings in a given univariate time series

    get_positive_fraction(uni_ts:pandas.core.series.Series) -> float
        :return: the fraction of positive numbers in uni_ts.

    get_quadratic_weighted_average(uni_ts:pandas.core.series.Series) -> float
        Computes quadratic weighted average of a univariate time series. It simply, for each `x_i` in
        `uni_ts`, computes the following::

            6/(n*(n+1)(2*n+1)) * sum(i^2 * x_i)

        where `n` is the length of the time seires.

        :return: the quadratic weighted average of `uni_ts`.

    get_skewness(uni_ts:pandas.core.series.Series)
        Returns the skewness of a given univariate time series

    get_slope_of_longest_mono_decrease(uni_ts:pandas.core.series.Series) -> float
        Identifies the longest monotonic decrease and gets the slope.
        :return: the slope of the longest monotonic decrease in `uni_ts`.

    get_slope_of_longest_mono_increase(uni_ts:pandas.core.series.Series) -> float
        Identifies the longest monotonic increase and gets the slope.
        :return: the slope of the longest monotonic increase in `uni_ts`.

    get_stddev(uni_ts:pandas.core.series.Series)
        Returns the standard deviation of a given univariate time series

    get_sum_of_last_K(uni_ts:pandas.core.series.Series, k:int=10) -> float
        :return: the sum of last k-values in a univariate time series.

    get_var(uni_ts:pandas.core.series.Series)
        Returns the variance of a given univariate time series

    tee(...)
        tee(iterable, n=2) --> tuple of n independent iterators.

FILE
    /home/azim/CODES/PyCode/mvtsdata_toolkit/features/feature_collection.py

- #### How to extract these features from the data?

Time to extract a set of these features from the dataset we downloaded. Let's extract 3 statistical features (`min`, `max`, and `median`), from 3 parameters (`TOTUSJH`, `TOTBSQ`, and `TOTPOT`). To speed up, we only process the first 50 mvts files.

In [9]:
from features.feature_extractor import FeatureExtractor

fe = FeatureExtractor(path_to_config)
fe.do_extraction(parameters_list=['TOTUSJH', 'TOTBSQ', 'TOTPOT'],
                 statistical_features_list=['get_min', 'get_max', 'get_median'],
                 first_k= 50)
fe.df_all_features

/home/azim/CODES/PyCode/mvtsdata_toolkit/data/petdataset_01/


	-----------------------------------
		Total No. of time series:	50
		Total No. of Parameters:		3
		Total No. of Features:		3
		Total No. of Metadata Pieces:		4
		Output dimensionality (N:50 X (F:3 X P:3 + T:4)):	650
	-----------------------------------

	 >>> Total Processed: 50 / 50 <<<
	50 files have been processed.
	As a result, a dataframe of dimension 50 X 13 is created.

,id,lab,st,et,TOTUSJH_min,TOTUSJH_max,TOTUSJH_median,TOTBSQ_min,TOTBSQ_max,TOTBSQ_median,TOTPOT_min,TOTPOT_max,TOTPOT_median
0,3894,M,2014-03-29T22:00:00,2014-03-30T09:48:00,967.434905,1183.833149,1124.410250,1.046786e+10,1.188663e+10,1.153321e+10,1.228731e+23,1.716971e+23,1.492330e+23
0,3364,NF,2013-11-10T16:24:00,2013-11-11T04:12:00,785.515878,898.419700,841.636672,1.384462e+10,1.505713e+10,1.449548e+10,2.558560e+23,2.903506e+23,2.712413e+23
0,3401,NF,2013-11-19T15:00:00,2013-11-20T02:48:00,43.795702,79.405460,61.347579,3.006945e+08,4.249081e+08,3.883491e+08,1.854126e+21,3.078696e+21,2.787184e+21
0,3595,NF,2014-01-12T09:24:00,2014-01-12T21:12:00,48.647340,65.213699,54.220981,3.276020e+08,4.447089e+08,3.539810e+08,2.278193e+21,3.308322e+21,2.707839e+21
0,3452,NF,2013-12-06T18:24:00,2013-12-07T06:12:00,54.910546,89.248031,64.519227,3.395135e+08,6.300441e+08,4.605988e+08,2.030967e+21,4.775595e+21,2.968826e+21
0,3401,NF,2013-11-23T00:00:00,2013-11-23T11:48:00,16.406938,25.926148,20.134504,1.098692e+08,1.766917e+08,1.430579e+08,6.961236e+20,1.368650e+21,9.542322e+20
0,3313,NF,2013-10-29T06:48:00,2013-10-29T18:36:00,25.213735,45.237145,37.858018,1.640152e+08,3.040086e+08,2.364114e+08,1.079530e+21,2.178500e+21,1.615138e+21
0,3394,NF,2013-11-16T12:48:00,2013-11-17T00:36:00,37.198119,105.665566,74.004088,4.422474e+08,1.066918e+09,7.937949e+08,2.419303e+21,6.886243e+21,4.586577e+21
0,3779,C,2014-02-26T06:24:00,2014-02-26T18:12:00,761.638915,987.804217,901.833056,5.706467e+09,7.378234e+09,6.651778e+09,5.153352e+22,7.974288e+22,7.048366e+22
0,3364,C,2013-11-17T20:24:00,2013-11-18T08:12:00,3410.057526,3746.423110,3583.958457,4.832398e+10,5.258952e+10,5.117475e+10,7.566750e+23,8.037784e+23,7.870867e+23
0,3347,NF,2013-11-07T22:36:00,2013-11-08T10:24:00,63.379472,113.081273,82.818263,3.868154e+08,5.886016e+08,4.985431e+08,2.040630e+21,3.498655e+21,2.757486e+21
0,3321,NF,2013-11-05T01:00:00,2013-11-05T12:48:00,1466.853397,1648.032546,1573.938111,2.126098e+10,2.288714e+10,2.212899e+10,2.565298e+23,2.911940e+23,2.734089e+23
0,3401,NF,2013-11-19T09:00:00,2013-11-19T20:48:00,58.152271,79.405460,66.180088,3.386123e+08,4.249081e+08,3.854218e+08,2.630903e+21,3.078696e+21,2.829447e+21
0,3295,C,2013-10-25T03:00:00,2013-10-25T14:48:00,2306.380074,2662.339062,2406.117117,3.947190e+10,4.219363e+10,3.989079e+10,8.022433e+23,8.427393e+23,8.125612e+23
0,3356,NF,2013-11-10T14:12:00,2013-11-11T02:00:00,53.675251,67.055864,60.396199,4.168245e+08,5.073998e+08,4.744510e+08,2.837520e+21,3.809148e+21,3.405646e+21
0,3580,NF,2014-01-09T03:00:00,2014-01-09T14:48:00,1139.842861,1202.930998,1171.610036,1.869290e+10,2.061527e+10,1.961173e+10,3.505761e+23,3.953043e+23,3.658200e+23
0,3432,NF,2013-12-05T15:36:00,2013-12-06T03:24:00,336.601811,440.946729,381.821657,5.934404e+09,7.389542e+09,6.571351e+09,5.486097e+22,7.585001e+22,6.473058e+22
0,3503,NF,2013-12-15T20:36:00,2013-12-16T08:24:00,24.400931,48.117987,32.000001,1.514705e+08,2.428182e+08,1.780276e+08,1.130392e+21,2.161136e+21,1.445695e+21
0,3513,NF,2013-12-25T08:24:00,2013-12-25T20:12:00,225.430968,330.502395,237.463232,1.776862e+09,2.593966e+09,2.027049e+09,1.424840e+22,2.173747e+22,1.537847e+22
0,3330,NF,2013-11-04T19:48:00,2013-11-05T07:36:00,808.223300,926.127352,871.428883,9.849552e+09,1.047759e+10,1.018700e+10,1.450815e+23,1.555553e+23,1.500818e+23
0,3572,NF,2014-01-04T08:24:00,2014-01-04T20:12:00,20.722521,35.494521,31.174995,2.370204e+08,3.037758e+08,2.621470e+08,1.280771e+21,2.162859e+21,1.751416e+21
0,3286,NF,2013-10-15T21:24:00,2013-10-16T09:12:00,180.629355,231.282079,203.906397,4.929032e+09,5.438733e+09,5.300309e+09,8.630541e+22,9.792370e+22,9.262682e+22
0,3688,M,2014-01-31T19:00:00,2014-02-01T06:48:00,1812.025600,2234.206232,1936.642763,1.997112e+10,2.160398e+10,2.057231e+10,2.646782e+23,2.883123e+23,2.740180e+23
0,3364,X,2013-11-18T12:24:00,2013-11-19T00:12:00,3112.763415,3636.879129,3412.387373,5.000181e+10,5.547602e+10,5.407773e+10,7.127595e+23,7.943010e+23,7.489484e+23
0,3311,NF,2013-10-29T06:48:00,2013-10-29T18:36:00,1178.998591,1528.942920,1361.588403,1.639024e+10,1.939713e+10,1.796235e+10,3.108043e+23,3.877353e+23,3.501286e+23
0,3376,C,2013-11-16T23:00:00,2013-11-17T10:48:00,2550.099755,3477.769913,3141.203239,5.766012e+10,6.957558e+10,6.751291e+10,1.369838e+24,1.425084e+24,1.398754e+24
0,3513,NF,2013-12-21T04:24:00,2013-12-21T16:12:00,246.640181,379.515997,295.875850,1.647788e+09,2.648920e+09,2.038514e+09,1.194453e+22,2.124787e+22,1.629861e+22
0,3295,M,2013-10-27T16:00:00,2013-10-28T03:48:00,2276.003929,2486.069447,2336.941111,3.669545e+10,3.846283e+10,3.718973e+10,5.947570e+23,6.569605e+23,6.192929e+23
0,3448,NF,2013-12-03T07:24:00,2013-12-03T19:12:00,627.381008,749.396580,685.068657,4.579947e+09,5.401685e+09,4.843743e+09,3.518158e+22,4.252477e+22,3.870690e+22
0,3364,X,2013-11-18T11:24:00,2013-11-18T23:12:00,3112.763415,3636.879129,3398.117993,5.000181e+10,5.547602e+10,5.401976e+10,7.127595e+23,7.943010e+23,7.474336e+23
0,3515,NF,2013-12-20T08:24:00,2013-12-20T20:12:00,475.294739,571.634279,531.393544,5.668066e+09,6.700476e+09,6.249927e+09,9.619054e+22,1.088221e+23,1.042996e+23
0,3576,NF,2014-01-09T10:12:00,2014-01-09T22:00:00,20.002664,28.046892,24.012224,1.864957e+08,2.450552e+08,2.083817e+08,1.208031e+21,1.709355e+21,1.424422e+21
0,3371,NF,2013-11-15T21:12:00,2013-11-16T09:00:00,355.494117,462.495793,405.551996,5.210313e+09,6.769616e+09,6.045823e+09,4.783879e+22,6.282941e+22,5.326339e+22
0,3492,NF,2013-12-10T04:00:00,2013-12-10T15:48:00,79.752980,164.666575,137.614010,5.709126e+08,1.810153e+09,1.369314e+09,5.440338e+21,1.515428e+22,1.282723e+22
0,3561,NF,2014-01-01T01:12:00,2014-01-01T13:00:00,67.218761,98.099020,86.452392,5.940839e+08,1.013197e+09,8.182449e+08,4.758672e+21,6.611339e+21,5.644317e+21
0,3370,NF,2013-11-15T09:00:00,2013-11-15T20:48:00,20.865132,40.132998,31.198306,1.520483e+08,2.684384e+08,2.176681e+08,9.282716e+20,1.892371e+21,1.496236e+21
0,3309,NF,2013-10-29T12:36:00,2013-10-30T00:24:00,27.930504,43.795533,35.415328,2.132010e+08,3.185288e+08,2.716563e+08,1.657514e+21,2.619628e+21,2.109794e+21
0,3321,M,2013-10-31T12:00:00,2013-10-31T23:48:00,2829.715172,3027.815306,2911.350896,3.844830e+10,3.951691e+10,3.888871e+10,7.504840e+23,7.739586e+23,7.628062e+23
0,3597,NF,2014-01-08T05:36:00,2014-01-08T17:24:00,4.341081,12.261190,7.426589,2.376532e+07,6.548704e+07,3.557751e+07,1.750878e+20,6.645951e+20,3.158317e+20
0,3497,C,2013-12-18T03:24:00,2013-12-18T15:12:00,1681.484071,1910.445613,1770.638465,2.073974e+10,2.410021e+10,2.338266e+10,3.894755e+23,4.511897e+23,4.312311e+23
0,3394,NF,2013-11-21T15:48:00,2013-11-22T03:36:00,32.492713,46.587421,39.022541,2.182987e+08,3.187070e+08,2.731201e+08,1.683164e+21,3.047398e+21,2.492267e+21
0,3813,C,2014-03-08T12:24:00,2014-03-09T00:12:00,804.514582,996.695003,887.737665,6.958456e+09,8.610843e+09,7.866284e+09,7.628546e+22,9.166733e+22,8.168197e+22
0,3480,NF,2013-12-10T07:36:00,2013-12-10T19:24:00,49.251799,83.605791,60.072664,4.090207e+08,6.371692e+08,5.076699e+08,2.802586e+21,5.647560e+21,4.049899e+21
0,3288,C,2013-10-19T20:48:00,2013-10-20T08:36:00,540.275179,669.071529,579.449611,3.820681e+09,4.442559e+09,4.183424e+09,3.335796e+22,4.098702e+22,3.797803e+22
0,3400,NF,2013-11-26T11:12:00,2013-11-26T23:00:00,331.070081,416.835571,389.407235,7.495902e+09,8.156456e+09,8.016263e+09,1.334339e+23,1.474803e+23,1.422880e+23
0,3273,NF,2013-10-21T15:00:00,2013-10-22T02:48:00,297.765488,352.122224,322.602994,2.369360e+09,2.773179e+09,2.640721e+09,1.672819e+22,2.035788e+22,1.935193e+22
0,3364,C,2013-11-08T21:24:00,2013-11-09T09:12:00,619.818638,707.927819,667.581645,1.208091e+10,1.312152e+10,1.269257e+10,1.912164e+23,2.105895e+23,2.030179e+23
0,3287,NF,2013-10-15T23:36:00,2013-10-16T11:24:00,60.458600,98.430700,71.548267,6.041495e+08,7.586510e+08,6.371173e+08,4.280842e+21,7.113572e+21,4.754370e+21
0,3344,NF,2013-11-05T00:36:00,2013-11-05T12:24:00,9.341750,17.577055,12.324828,5.564178e+07,1.053136e+08,8.356517e+07,3.338293e+20,7.438981e+20,5.965907e+20
0,3364,NF,2013-11-09T09:24:00,2013-11-09T21:12:00,650.312083,842.870407,745.732635,1.208695e+10,1.363677e+10,1.290629e+10,2.049929e+23,2.309047e+23,2.172410e+23

In [10]:
extracted_features = fe.df_all_features
extracted_features.shape

(50, 13)

## Extracted Features Analysis

- #### A quick look over the results?

Let's have a glimps of how the extracted features look like.

In [13]:
from data_analysis.extracted_features_analysis import ExtractedFeaturesAnalysis

efa = ExtractedFeaturesAnalysis(extracted_features, exclude=['id'])
efa.compute_summary()
efa.summary

,Feature Name,count,Null Count,mean,std,min,25%,50%,75%,max
0,TOTUSJH_min,50.0,0,7.341838e+02,9.667145e+02,4.341081e+00,4.879846e+01,3.144178e+02,9.276320e+02,3.410058e+03
1,TOTUSJH_max,50.0,0,8.746654e+02,1.112331e+03,1.226119e+01,7.940546e+01,3.981758e+02,1.137049e+03,3.746423e+03
2,TOTUSJH_median,50.0,0,8.033427e+02,1.041983e+03,7.426589e+00,6.063404e+01,3.522123e+02,1.068766e+03,3.583958e+03
3,TOTBSQ_min,50.0,0,1.076656e+10,1.574154e+10,2.376532e+07,3.388376e+08,4.200314e+09,1.340520e+10,5.766012e+10
4,TOTBSQ_max,50.0,0,1.210067e+10,1.744910e+10,6.548704e+07,4.603817e+08,4.922122e+09,1.470204e+10,6.957558e+10
5,TOTBSQ_median,50.0,0,1.158519e+10,1.697273e+10,3.557751e+07,4.064115e+08,4.513584e+09,1.409818e+10,6.751291e+10
6,TOTPOT_min,50.0,0,1.778611e+23,2.921604e+23,1.750878e+20,2.100021e+21,3.426977e+22,2.431402e+23,1.369838e+24
7,TOTPOT_max,50.0,0,1.971327e+23,3.104716e+23,6.645951e+20,3.355905e+21,4.175589e+22,2.739604e+23,1.425084e+24
8,TOTPOT_median,50.0,0,1.872583e+23,3.006618e+23,3.158317e+20,2.797750e+21,3.834246e+22,2.577412e+23,1.398754e+24

... which gives a summary statistics over every extracted feature. For instance, in row `0`, the changes of the minimum values of the parameter `TUOTUSJH`, across 50 mvts files, is described in terms of `mean`, `std`, etc. This also indicates that no `NA/NAN` or missing value was generated in the process.